 /* Default*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

clearfix::after{
    content:'';
    display: table;
    clear: both;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* Utils*/
.container{
    height: 700px;
    background-color: teal;
    margin: 0 auto;
}


.f-left{
    float: left;
}

.f-right{
    float:right;
}
.f-right.w-10,
.f-left.w-10{
    width: 10%;
}

.f-right.w-50,
.f-left.w-50{
    width: 50%;
}

.f-left.w-80{
    width: 80%;
}
.f-right.w-30,
.f-left.w-30{
    width: 30%;
    
}
.f-right.w-70,
.f-left.w-70{
    width: 70%;
}


.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

/*header*/

.main-header .topbar{
    height: 80px;
    line-height: 80px;
}

#logo{
    line-height: 80px;
    padding-top: 5px; 
    padding-left:20px ;
}


/* nav */

.topbar .main-nav .right-nav{
    padding-left: 25px;
}
.topbar .main-nav li{
    display: inline-block;
    padding: 0 15px;

}

.topbar a{
    color:black;
    text-decoration: none;
    font-weight: 600;
}

.topbar .main-nav a:hover{
    text-decoration: underline;
}
/* Hero*/
#hero{
    background-color: #b4d0e6;
    height: 700px;
}

#hero .container{
    position: absolute;
    width: 70%;
    height: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:violet;
}

#hero .sub-content{
    padding-right:100px;
    padding-top: 50px;

}


#hero .sub-content .box-right img{
    width:98%;
    filter:drop-shadow(0 0 0.05rem #000);
}
/* fonts */
h1{
    font-weight:900;
    font-size: 5em;
}

#hero .sub-content .box-left p:first-child{
    margin-bottom: 40px;
    margin-top:0;
}
#hero .sub-content .box-left .fas.fa-arrow-down,
#hero .sub-content .box-left p{
    margin-top: 30px;
}
/* Signin btn */
.topbar .signin{
    line-height: 80px;
}

/* buttons */

.btn{
    padding:10px;
}

.btn.btn-white{
  background-color: #0060fe;
  color: #fff;
  text-decoration: none;

}